<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siju.acexplorer.appmanager">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application android:supportsRtl="true">

        <activity
            android:name=".view.AppDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />

    </application>

</manifest>