<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 Ace Explorer owned by Siju Sakaria
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.siju.acexplorer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".AceApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeScreen"
            android:screenOrientation="userPortrait"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>


        <activity
            android:name="com.siju.acexplorer.AceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/DarkAppTheme.NoActionBar"
            android:launchMode="singleTask">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!--            <intent-filter>
                            <action android:name="android.intent.action.VIEW"/>
                            <category android:name="android.intent.category.DEFAULT"/>

                            <data android:mimeType="application/vnd.android.package-archive"/>
                            <data android:mimeType="application/java-archive"/>
                            <data android:mimeType="application/zip"/>
                            <data android:mimeType="application/rar"/>
                            <data android:mimeType="application/x-rar-compressed"/>
                        </intent-filter>-->

        </activity>

        <activity
            android:name=".TransparentActivity"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <data android:mimeType="*/*"/>

                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.siju.acexplorer.settings.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/action_settings"
            android:permission="android.permission.WRITE_SECURE_SETTINGS"
            >
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.siju.acexplorer.filesystem.LibrarySortActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".filesystem.task.CreateZipTask"/>
        <service android:name=".filesystem.task.CopyService"/>
        <service android:name=".filesystem.task.ExtractService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.siju.acexplorer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d34cf3ffdd00d6e0d7b3e85d558c4fa01210a6f1"/>
    </application>

</manifest>