<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.siju.acexplorer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AceApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.siju.acexplorer.BaseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/vnd.android.package-archive"/>
                <data android:mimeType="application/java-archive"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/rar"/>
                <data android:mimeType="application/x-rar-compressed"/>
               </intent-filter>



        </activity>

        <activity android:name=".TransparentActivity" android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.siju.acexplorer.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Settings.LightTheme"

            />
        <activity android:name="com.siju.acexplorer.filesystem.LibrarySortActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <service android:name="com.siju.acexplorer.filesystem.task.CreateZipTask"/>
        <service android:name=".filesystem.task.CopyService"/>
        <service android:name=".filesystem.task.ExtractService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.siju.acexplorer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>